
.banner{
    width:auto;
    height:93vh;
    background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../img/girl-calling3.jpg);
    background-size:cover;
    background-repeat: no-repeat;

    color:white;


}
.flex{
    display:flex;
    align-items: center;
    justify-content: center;


}

.btn-info {
    font-family: Raleway-SemiBold;
    font-size: 15px;
    font-weight: bold;
    color: rgba(58, 133, 191, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 40px;
    background: gold;
    transition: all 0.3s ease 0s;
}


.my-register{

    padding:0px;

}




/*login css*/


.logins {
    
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 420px;
  border: 1px solid #9C9C9C;
  background-color: white ;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}